*{
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background: #161B21;
}
#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo path:nth-child(1){
  stroke-dasharray: 367px;
  stroke-dashoffset: 367px;
  animation: anim 5s ease forwards;
  
}
#logo path:nth-child(2){
  stroke-dasharray: 182px;
  stroke-dashoffset: 183px;
  animation: anim 5s ease forwards .1s;
}
#logo path:nth-child(3){
  stroke-dasharray: 73px;
  stroke-dashoffset: 73px;
  animation: anim 5s ease forwards .2s;
}
#logo path:nth-child(4){
  stroke-dasharray: 196px;
  stroke-dashoffset: 196px;
  animation: anim 5s ease forwards .3s;
}
#logo path:nth-child(5){
  stroke-dasharray: 197px;
  stroke-dashoffset: 197px;
  animation: anim 5s ease forwards .4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 258px;
  stroke-dashoffset: 258px;
  animation: anim 5s ease forwards .5s;
}
#logo path:nth-child(7){
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  animation: anim 5s ease forwards .6s;
}
#logo path:nth-child(8){
  stroke-dasharray: 159px;
  stroke-dashoffset: 159px;
  
  animation: anim 5s ease forwards .7s;
}
#logo path:nth-child(9){
  stroke-dasharray: 298px;
  stroke-dashoffset: 298px;
  animation: anim 5s ease forwards .8s;
}
#logo path:nth-child(10){
  stroke-dasharray: 298px;
  stroke-dashoffset: 298px;
  animation: anim 5s ease forwards .9s;
}
#logo path:nth-child(11){
  stroke-dasharray: 257px;
  stroke-dashoffset: 257px;
  animation: anim 5s ease forwards 1s;
}

@keyframes anim{
  to{
    stroke-dashoffset: 0;
  }
}

